.DraftEditor-root {
  font-weight: 400;
  font-size: 18px;
  min-height: 200px;
  max-width: 420px;
  cursor: text;
  padding: 8px 16px;
  border-radius: 8px;
  margin-bottom: 2em;
  background: #fefefe;
}
.active {
  color: #1877F2;
}
.RichEditor-editor .public-DraftStyleDefault-pre pre {
  white-space: normal;
}